body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1
{
    font-size: 50px;
}
.name-color
{
    color: orange;
}
.flexible-cont
{
    display: flex;
    margin-bottom: 100px;
}
.half-width
{
    width: 50%;
    padding-left: 10%;
}
.half-width img
{
    width: 65%;
    margin-top: 8%;
}
.hmbtn
{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner
{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: none;
}
.half-width1
{
    width: 50%;
    padding-right: 10%;
    padding-left: 5%;
    
}
.half-width1 p
{
    text-align: justify;
}
.half-width1 img
{
    width: 60%;
    padding-left: 17%;
    margin-left: 5%;
}
.dream-big
{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience
{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item
{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px indianred;
    border-radius: 10px;
}
#webdev
{
    
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
#dev
{
    
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
footer p
{
    text-align: center;
}
